.wp-block-cover {
    $el: &;

    @extend %block-spacing-sm;
    padding: 0;

    #{$el}__inner-container {
        padding: $spacing-12 $spacing-6;
    }

    &.is-light {
        #{$el}__inner-container {
            color: inherit;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            [class*="has-h-"] {
                color: var(--text-title-grey);
            }
        }
    }

    #{context-selector("&.alignwide", "[data-align='wide'] > &")} {
        @extend %block-spacing-md;
    }

    #{context-selector("&.alignfull", "[data-align='full'] > &")} {
        @extend %block-spacing-lg;
    }

    @include breakpoints(md) {
        #{$el}__inner-container {
            padding-right: column(1, 1, 8);
            padding-left: column(1, 1, 8);
        }

        #{context-selector("&.alignwide", "[data-align='wide'] > &")} {
            #{$el}__inner-container {
                padding-right: column(1, 1);
                padding-left: column(1, 1);

                > * {
                    max-width: column(6, 5, 10);
                }
            }
        }

        #{context-selector("&.alignfull", "[data-align='full'] > &")} {
            #{$el}__inner-container {
                @include container;

                padding-right: 0;
                padding-left: 0;

                > * {
                    max-width: column(8);
                }
            }
        }

        #{context-selector("&.alignwide", "[data-align='wide'] > &")},
        #{context-selector("&.alignfull", "[data-align='full'] > &")} {
            margin-top: $spacing-14;
            margin-bottom: $spacing-14;

            #{$el}__inner-container {
                > .has-text-align-right,
                > .is-content-justification-right {
                    margin-left: auto;
                }

                > .has-text-align-center,
                > .is-content-justification-center {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}
