# Local
IP=127.0.0.1
PORT=80
DB_ROOT_PASSWORD=password
DB_NAME=wordpress

# SSH login
SSH_USER=username
SSH_HOST=server.com
SSH_PORT=22

# Remote paths
REMOTE_DB_NAME=dbname
REMOTE_DB_USER=dbusername
REMOTE_DB_PASSWORD=dbpassword
REMOTE_PATH_UPLOADS=./wp-app/wp-content/uploads
REMOTE_PATH_PLUGINS=./wp-app/wp-content/plugins

# Local paths
LOCAL_BACKUP_DIR=./wp-data
LOCAL_UPLOADS_DIR=./wp-app/wp-content/uploads
LOCAL_PLUGINS_DIR=./wp-app/wp-content/plugins
