/**
 * Align
 *
 * default: float left
 */

@mixin align($direction: left) {
    float: $direction;

    @if ($direction == left) {
        margin-right: $spacing-5;
    } @else {
        margin-left: $spacing-5;
    }
}
